
.main{
    display: flex;

height: 100vh;
}
.box{
    
    border-radius: 20px;
    margin: 10px;
    height: 200px;
    width: 200px;
    background: rgb(188, 188, 255.6);
    text-align: center;
}
.changeoff{
    left: 600px;
    position: absolute;
    height: 0px;
    width: 0px;
    background: red;
    opacity: 0;
}
.changeon{
    left: 600px;
    position: absolute;
    height:400px;
    width: 400px;
    background: red;
    opacity: 1;
}